/* 1. Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nunito:wght@400;600;700;800&Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* 2. Custom Theme Variables (Tailwind v4) */
@theme {
  --font-marker: "Nanum Pen Script", cursive;
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  
  --color-barsik-green: #00ffa3;
  --color-barsik-dark: #0d121f;
  --color-barsik-card: #131b2c;
  
  --animate-float: float 6s ease-in-out infinite;
  --font-barsik-gradient: background: linear-gradient(98.64deg, #2AECD5 5.21%, #2AEC8F 99.3%);

}

/* 3. Global Styles */
body {
  background-color: var(--color-barsik-dark);
  background: linear-gradient(105.42deg, #181F2D 1.32%, #111419 98.73%);
  font-family: var(--font-nunito);
  overflow-x: hidden;
  color: white;
}

/* 4. Custom Animations & Utilities */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.float-animation {
  animation: var(--animate-float);
}

/* Subtle background doodle pattern */
.bg-doodles {
  background-image: url("./assets/barsik/BG.svg");
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.hdw {
  background: linear-gradient(180deg, #1C272C 0%, #202432 100%);

}

.hdw .inner {
  background-image: url("./assets/barsik/hdBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}